.header {
    width: min(100%, 100vw);
    min-height: var(--hit-area-height);
    z-index: 20;
    border-bottom: var(--border);
    background-color: var(--white);
    &.sticky {
        position: sticky;
        top: 0;
        transform: none;
    }
}
