.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: var(--border-radius);
    padding: var(--gap-3);
    background-color: var(--white);
}

.overlay {
    background-color: var(--tappable-overlay-bg);
    backdrop-filter: var(--tappable-overlay-backdrop);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    z-index: var(--overlay-z);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.tray {
    --tray-min-height: 200px;
    background-color: var(--white);
    box-shadow: var(--shadow);
    width: min(750px, calc(100% - 1em));
    height: var(--tray-min-height);
    max-height: min(var(--tray-min-height), 70vh);
    /*max-height trumps height, but not min-height */
    padding-bottom: env(safe-area-inset-bottom);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transform: translateY(var(--tray-min-height));
    outline: none;
    overflow: auto;
    /* https://caniuse.com/css-overscroll-behavior */
    overscroll-behavior: contain;
    box-shadow: var(--shadow);
}

.tray.isOpen {
    transform: translateY(0);
}
