.size {
    --group-size: 100%;

    & > * {
        flex: 1 1 var(--group-size);
        max-width: 100%;
    }
}

.row,
.col,
.colRow {
    display: flex;
}
.col {
    flex-direction: column;
}
.colRow {
    flex-direction: column;
}

@media (orientation: landscape) {
    .colRow {
        flex-direction: row;
    }
}

.ad {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--gap-1);
}

.adItem {
    display: grid;
    place-items: center;
    grid-column: span 6;
}

@media (orientation: landscape) {
    .adItem {
        grid-column: span 4;
    }
}

.adItem._12 {
    grid-column: span 12;
}

.adItem._6 {
    grid-column: span 6;
}
.adItem._3 {
    grid-column: span 3;
}

.adItem._2 {
    grid-column: span 2;
}

@media (min-width: 240px) and (max-width: 360px) {
    .adItem {
        grid-column: span 12;
    }
}

.app {
    --app-gutter: 20px;
    padding: var(--app-gutter) 0;
    display: grid;
    grid-gap: var(--app-gutter) 0;
    grid-template-columns: var(--app-gutter) 1fr var(--app-gutter);
    align-content: start;

    & > .container {
        grid-column: 2 / -2;
    }

    & > .container.full {
        grid-column: 1 / -1;
    }
}
