.root {
    display: flex;
    flex-wrap: wrap;
    /*border: var(--border-width) solid currentColor;*/
    height: fit-content;

    & button {
        position: relative;

        display: flex;
        flex-grow: 1;
        &:focus {
            z-index: 2;
        }
    }

    &:focus-within {
        border-color: var(--neutral);
    }
}

.root.vertical {
    flex-direction: column;
}

.root button:not(:hover, :focus, :focus-visible) {
    border-radius: 0;
    box-shadow: none !important;
}

.root:not(.vertical) button:not(:last-child) {
    border-right: calc(var(--border-width) / 2) solid currentColor;
}
.root:not(.vertical) button:not(:first-child) {
    border-left: calc(var(--border-width) / 2) solid currentColor;
}

.root.vertical button:not(:first-child) {
    border-top: calc(var(--border-width) / 2) solid currentColor;
}
.root.vertical button:not(:last-child) {
    border-bottom: calc(var(--border-width) / 2) solid currentColor;
}

.root > *:first-child {
    border-top-left-radius: var(--button-border-radius);
    border-bottom-left-radius: var(--button-border-radius);
}
.root > *:last-child {
    border-top-right-radius: var(--button-border-radius);
    border-bottom-right-radius: var(--button-border-radius);
}

.root.vertical > *:first-child {
    border-top-left-radius: var(--button-border-radius);
    border-top-right-radius: var(--button-border-radius);
}
.root.vertical > *:last-child {
    border-bottom-left-radius: var(--button-border-radius);
    border-bottom-right-radius: var(--button-border-radius);
}
