.root {
    display: flex;
    width: fit-content;
    border-radius: var(--border-radius);
    flex-wrap: wrap;

    &.col {
        flex-direction: column;
    }
}

.separator {
    width: var(--border-width);
    background-color: currentColor;
}
