.grid {
    --grid-item-width: var(--item-width);
    --gap: var(--item-gap, 0);
    --p: var(--item-p, 0);
    --m: var(--item-m, 0);
    --bg: var(--item-bg, transparent);
    --color: var(--item-color, inherit);

    align-items: start;
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(min(100%, var(--grid-item-width)), 1fr)
    );
    width: 100%;

    background: var(--bg);
    color: var(--color);
    gap: var(--gap);
    padding: var(--p);
    margin: var(--m);
}
