.root {
    position: relative;

    input {
        padding-right: 48px;
    }
}

.results {
    background-color: var(--white);
    box-shadow: var(--shadow);
    border: var(--border);
    border: border;
    position: absolute;
    top: calc(var(--min-height) * 2);
    overflow: auto;
    max-height: min(300px, 40vh);
    width: 100%;
    z-index: var(--z-max);
    margin-top: var(--gap-1);

    &:focus {
        outline: var(--border);
        outline-color: var(--ring-color) !important;
    }

    .suggestion {
        cursor: pointer;
        padding: var(--px);
        line-height: var(--min-height);
        min-height: var(--min-height);
        &:is(:hover, .highlighted) {
            background-color: var(--info);
        }

        &.disabled {
            pointer-events: none;
            cursor: not-allowed !important;
            opacity: var(--opacity-disabled) !important;
            background-color: var(--bg-disabled) !important;
        }

        &.selected {
            background-color: var(--positive);
        }
    }
}

.splits {
    display: flex;
    gap: var(--gap-1);
    width: 100%;
    /*flex-direction: column;*/
    flex-wrap: wrap;
    @media (min-width: 500px) {
        & {
            flex-wrap: nowrap;
        }
    }
    .split {
        opacity: 0.7;
        &.match {
            font-weight: bold;
            text-decoration: underline;
            -webkit-text-decoration: currentColor solid underline;
            text-decoration: currentColor solid underline;
            opacity: 1;
        }
    }
}

.chips {
    flex-wrap: wrap;
}

.chip {
    border-radius: var(--border-radius);
    border: var(--border) !important;

    &.isActive {
        background-color: var(--positive);
    }
}

.chipRemove {
    display: inline-flex;
    margin-left: var(--gap-1);
}
