.input {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
    border: 0;
    padding: 0;
    margin: -1px;
}

.label {
    display: block;
    position: relative;
    cursor: pointer;
}

.slotInitial {
    display: block;
}
.slotChecked {
    display: none;
}

.wrapper:has(input:checked) .slotInitial {
    display: none;
}
.wrapper:has(input:checked) .slotChecked {
    display: block;
}
