:root {
  /* caption */
  --sparkline-ui-fill: hsl(0, 1%, 20%);
  --sparkline-ui-color: #f5f5f7;
  --sparkline-transparent: rgba(0, 0, 0, 0.001);
  --sparkline-border: 1px solid hsl(0, 4%, 94%);
  /* selection */
  --sparkline-rect-color: rgba(0, 0, 255, 0.2);
  --sparkline-rect-stroke: blue;
  --sparkline-z-rect: 9;
  /* actions */
  --sparkline-z-actions: 99;
  /* common */
  --sparkline-gap: 0.5em;
  --sparkline-crosshair-color: rgba(0, 0, 0, 0.2);
}
.stick {
  width: 100%;
}

.root {
  width: 100%;
  height: 100%;
  position: relative;
}

.caption {
  background-color: var(--sparkline-ui-fill);
  color: var(--sparkline-ui-color);
  border: var(--sparkline-border);
  padding: var(--sparkline-gap);
}

.caption > p {
  margin-bottom: var(--sparkline-gap);
}

.tooltip {
  position: relative;
}

.svg {
  overflow: visible;
}
/* 
.root circle:hover {
  animation: wiggle 50ms 400ms forwards ease-in-out;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(8deg);
  }
  100% {
    transform: rotate(0deg);
  }
} */

.rect {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: var(--sparkline-z-rect);
  height: 100%;
}

.axis {
  display: grid;
}

.mlAuto {
  margin-left: auto;
}

.gap {
  gap: var(--sparkline-gap);
}

.range {
  margin-top: calc(var(--sparkline-gap) * 2);
  width: 100%;
}

.range:focus {
  outline: none;
  filter: hue-rotate(120deg);
}

.actions {
  position: absolute;
  z-index: var(--sparkline-z-actions);
  width: 100%;
  top: 0;
  display: flex;
  gap: var(--sparkline-gap);
  padding: var(--sparkline-gap);
  align-items: center;
}

.actions button {
  appearance: none;
  background-color: var(--sparkline-transparent);
  border: 1px solid var(--sparkline-transparent);
}

.root circle,
.button,
.actions button {
  cursor: pointer;
}

.button {
  appearance: none;
  aspect-ratio: none;
  display: inline-flex;
  width: fit-content;
  gap: var(--sparkline-gap);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid var(--sparkline-transparent);
  padding: calc(var(--sparkline-gap) / 10) var(--sparkline-gap);
  border-radius: 4px;
  color: var(--sparkline-ui-fill);
}

.button:focus,
.actions button:focus {
  outline: none;
  opacity: var(--sparkline-disabled);
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.row:has(.row) {
  gap: var(--sparkline-gap);
}
.row button:first-of-type {
  margin-left: var(--sparkline-gap);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.row button:last-of-type {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
