:where(html) {
    --checkbox-bg: var(--white);
    --checkbox-hit-area: var(--hit-area-height);
}

input[type='checkbox'] {
    height: var(--checkbox-hit-area);
    width: var(--checkbox-hit-area);
    aspect-ratio: 1;
    background-color: var(--checkbox-bg);
    position: relative;

    &:focus {
        outline: 1px solid transparent;
    }
}

input[type='checkbox']:not([disabled]):checked {
    &::after {
        --checkbox-indeterminate-height: 8px;
        position: absolute;
        content: '';
        background-color: currentColor;
        height: var(--checkbox-indeterminate-height);
        width: calc(100% - 20px);
        left: 10px;
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
        border-radius: var(--border-radius);
    }
}

input[type='checkbox']:indeterminate {
    &::after {
        --checkbox-indeterminate-height: 8px;
        position: absolute;
        content: '';
        background-color: currentColor;
        height: var(--checkbox-indeterminate-height);
        width: calc(100% - 20px);
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        border-radius: var(--border-radius);
    }
}
