:where(html) {
    --white: #f4f4f4;
    --black: #212121;

    --space: oklch;
    --grey-20: color-mix(in var(--space), var(--black) 20%, var(--white));
    --grey-40: color-mix(in var(--space), var(--black) 40%, var(--white));
    --grey: color-mix(in var(--space), var(--black), var(--white));
    --grey-60: color-mix(in var(--space), var(--black) 60%, var(--white));
    --grey-80: color-mix(in var(--space), var(--black) 80%, var(--white));

    --positive: #23d160;
    --neutral: var(--grey-40);
    --negative: #ff3860;

    --negative-mixer: var(--negative) 30%;
    --negative-grey-20: color-mix(
        in var(--space),
        var(--grey-20),
        var(--negative-mixer)
    );
    --negative-grey-40: color-mix(
        in var(--space),
        var(--grey-40),
        var(--negative-mixer)
    );
    --negative-grey: color-mix(
        in var(--space),
        var(--grey),
        var(--negative-mixer)
    );
    --negative-grey-60: color-mix(
        in var(--space),
        var(--grey-60),
        var(--negative-mixer)
    );
    --negative-grey-80: color-mix(
        in var(--space),
        var(--grey-80),
        var(--negative-mixer)
    );
}

.theme {
    padding: var(--pxy) !important;
    background-color: var(--white);
    border: var(--border);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
}

.theme-inset {
    background-color: var(--white);
    border: var(--border);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
}

.positive {
    background-color: var(--positive) !important;
    color: currentColor;
}
.negative {
    background-color: var(--negative) !important;
    color: currentColor;
}
.neutral {
    background-color: var(--neutral) !important;
}
