.react-aria-DatePicker {
    &[data-invalid] {
    }

    &[data-open] {
    }

    & .react-aria-Label {
    }
    .react-aria-Group {
        display: flex;
        width: fit-content;
        align-items: center;
    }

    .react-aria-Button {
        background: var(--neutral);
        color: currentColor;
        forced-color-adjust: none;
        border: none;

        &[data-pressed] {
            box-shadow: none;
            background: var(--positive);
        }

        &[data-focus-visible] {
            outline: 2px solid currentColor;
            outline-offset: 2px;
        }
    }

    .react-aria-DateInput {
        padding: var(--gap-1) 2.5rem var(--gap-1) var(--gap-2);
        background-color: var(--white);
    }
}

.react-aria-Popover {
    background-color: var(--white);
    font-size: var(--font-size-0);

    &[data-trigger='DatePicker'] {
        max-width: unset;
    }
    & * {
        font-size: var(--font-size-0);
    }
}

.react-aria-CalendarCell {
    &[data-today] {
    }

    &[data-unavailable] {
    }

    &[data-selected] {
        background-color: var(--positive) !important;
    }
    &[data-hovered] {
    }
    &[data-pressed] {
    }

    &[data-focused]:not([data-selected]) {
        outline-color: var(--positive);
        color: var(--positive);
    }
    &[data-isFocusVisible] {
        outline-color: var(--positive);
    }
}
.react-aria-Dialog {
}

.react-aria-Calendar {
}
