.prompt {
    border: var(--border);
    background-color: var(--white);
    padding: var(--gap-1);
    gap: var(--gap-2);
    display: grid;
    grid-template-columns: 113px 1fr 200px;

    & input {
        padding: 0 var(--gap-3);
        border: var(--border);
    }
}

.answer {
    font-size: var(--font-md);

    & p:has(a) {
        font-weight: var(--font-bold);
        margin-top: var(--gap-3);
        display: flex;
        gap: var(--gap-1);
        color: var(--accent);
        text-decoration: underline;
    }

    /*& p:not(& ~ *){}*/

    & hr {
        border-bottom: var(--border);
    }
    & h1,
    & h2,
    & h3 {
        font-weight: var(--font-bold);
    }

    & h1 {
        font-size: var(--font-xl);
    }

    & h2,
    & h3,
    & h4 {
        font-size: var(--font-lg);
    }
    & svg {
        width: 100%;
        display: flex;
    }

    & table {
        border: var(--border);
        background-color: var(--white);
        border-image: initial;
        border-collapse: collapse;
        border-spacing: 0;
        margin-bottom: var(--gap-3);

        & thead  {
            display: table-header-group;
            vertical-align: middle;
            unicode-bidi: isolate;
            border-color: inherit;
            & tr {
                display: table-row;
                vertical-align: inherit;
                unicode-bidi: isolate;
                border-color: inherit;
            }

            & th {
                border: var(--border);
                border-bottom-width: 2px;
                border-top: 0;
                padding: 0 var(--gap-1);
                line-height: 1.42;
                text-align: left;
            }
        }

        & tbody {
            display: table-row-group;
            vertical-align: middle;
            unicode-bidi: isolate;
            border-color: inherit;
            & tr {
                display: table-row;
                vertical-align: inherit;
                unicode-bidi: isolate;
                border-color: inherit;
            }

            & tr:nth-of-type(even) {
                background-color: #f9f9f9;
            }

            & td {
                padding: 0 var(--gap-1);
                line-height: 1.42;
                vertical-align: top;
                border: var(--border);
            }
        }
    }

    & ol,
    & ul {
        margin-block-start: var(--gap-1);
        margin-block-end: var(--gap-1);
        margin-inline-start: 0;
        margin-inline-end: 0;
        padding-inline-start: 40px;
        unicode-bidi: isolate;

        & li:not(:last-child) {
            margin-bottom: var(--gap-1);
        }
        & li:has(ol) {
            margin: var(--gap-2) 0;
        }
        & li:has(ol) ol {
            margin-top: var(--gap-1);
        }
    }

    & ul {
        list-style-type: disc;
    }

    & ol {
        list-style-type: decimal;
    }

    &.lite *:is(p, h1, h2, h3, li) {
        font-size: var(--font-size-1) !important;
    }
}
