.icon {
    vertical-align: middle;
    overflow: hidden;
}

.progress {
    width: min(200px, 80vw);
    overflow: hidden;
    position: relative;
    height: 0.5rem;
    background: rgba(255, 255, 255, 0.25);
    &::before {
        content: '';
        position: absolute;
        left: -130%;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        animation: progress 4s linear infinite;
    }
}

@keyframes progress {
    0% {
        left: -130%;
        background: rgba(0, 0, 0, 0.5);
    }
    50% {
        left: 130%;
        background: rgba(0, 0, 0, 0.5);
    }
    51% {
        background: rgba(255, 255, 255, 0.5);
    }
    100% {
        background: rgba(255, 255, 255, 0.5);
    }
}
