@font-face {
    font-family: 'Brandon Grotesque';
    src:
        url('./assets/BrandonGrotesque-Black.woff2') format('woff2'),
        url('./assets/BrandonGrotesque-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

.group {
    border: var(--border);
    border-radius: var(--border-radius);
    & > *:not(:last-of-type) {
        border-bottom: var(--border);
        margin-bottom: var(--gap-1);
        min-height: calc(var(--hit-area-height) * 1.5);
    }
}
main {
    overflow: hidden;
}

aside,
[data-portal-fallback] {
    background-color: var(--positive);
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    min-height: 60vh;
    z-index: 999;
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    border-bottom: none;
    &:has(*) {
        border: var(--border);
        padding: var(--gap-3);
    }
}

[data-portal-fallback] {
    background-color: var(--negative);
}

[data-popover-backdrop='backdrop'] {
    content: '';
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: var(--backdrop);
}

.circle,
.square {
    aspect-ratio: 1;
    width: 400px;
    border: var(--border);
}
.circle {
    border-radius: 50%;
}

.fit {
    width: fit-content;
}

@media (orientation: landscape) {
    .underline {
        text-decoration: underline;
        -webkit-text-decoration: currentColor solid underline;
        text-decoration: currentColor solid underline;
    }
    .underline-double {
        text-decoration: underline;
        -webkit-text-decoration: currentColor wavy underline;
        text-decoration: currentColor wavy underline;
    }
}

/*
  <label class="summary">
    <input type="checkbox" class="toggle">
    <strong>Show details</strong>
    <div class="details">
      <p>Here are the juicy details that slide down.</p>
    </div>
  </label>
*/
.summary {
    --open: 0;
    display: grid;
    grid-template-rows: auto 0px;
    transition: grid-template-rows 0.3s ease;
}
.summary:has(.toggle:checked) {
    --open: 1;
    /* expands from 0px to 200px */
    grid-template-rows: auto calc(var(--open) * 200px);
}

@media (any-hover: hover) and (pointer: fine) {
    /* Reveal the button only on hover */
}

@media (any-hover: none) and (pointer: coarse) {
    /* Show the button all the time */
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

@media (forced-colors: active) {
    svg {
        forced-color-adjust: auto;
    }
}
