@font-face {
    font-family: 'Brandon Grotesque';
    src:
        url('./assets/BrandonGrotesque-Black.woff2') format('woff2'),
        url('./assets/BrandonGrotesque-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

.group {
    border: var(--border);
    border-radius: var(--border-radius);
    & > *:not(:last-of-type) {
        border-bottom: var(--border);
        margin-bottom: var(--gap-1);
        min-height: calc(var(--min-height) * 1.5);
    }
}
main {
    overflow: hidden;
}

aside,
[data-portal-fallback] {
    display: flex;
    flex-direction: column;
    gap: var(--gap-1);
    background-color: var(--positive);
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    min-height: 60vh;
    z-index: 999;
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    border-bottom: none;
    &:has(*) {
        border: var(--border);
        padding: var(--gap-3);
    }
}

[data-portal-fallback] {
    background-color: var(--negative);
}

[data-popover-backdrop='backdrop'] {
    content: '';
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: var(--backdrop);
}

#autocompLite-demos {
    & [data-index='1'] {
        display: inline-flex;
        margin-left: auto;
    }
}

.slidind-window-container {
    background-color: #ccc;
    border: var(--border);
    border-radius: var(--border-radius);
}
.is-swiping {
    background-color: red;
}
.circle,
.square {
    aspect-ratio: 1;
    width: 400px;
    border: var(--border);
}
.circle {
    border-radius: 50%;
}

datalist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    writing-mode: vertical-lr;
    width: 100%;
    & option {
        padding: 0;
    }
}

.puffy-star {
    clip-path: shape(
        from 39% 35%,
        line to 61% 35%,
        smooth to 68% 57% with 98% 36%,
        line to 50% 70%,
        smooth to 32% 57% with 21% 91%,
        line to 39% 39%,
        smooth to 61% 35% with 50% 0%,
        line to 68% 57%,
        smooth to 50% 70% with 79% 91%,
        line to 32% 57%,
        smooth to 39% 35% with 2% 35%,
        close
    );
}
/*
    Mouse only
    .element:focus:not(:focus-visible) {
        outline: none;
    }
*/

@media (any-hover: hover) and (pointer: fine) {
    /* Reveal the button only on hover */
}

@media (any-hover: none) and (pointer: coarse) {
    /* Show the button all the time */
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

@media (forced-colors: active) {
    svg {
        forced-color-adjust: auto;
    }
}
