.ul {
    list-style: none !important;

    padding: 0;
    & li {
        list-style: none !important;
    }
}
.li:not(:last-of-type),
.row {
    margin-bottom: var(--gap-1);
}

.li:not([data-depth='0']):has(:focus-within) {
    & div:not(.row + ul) > div {
        background-color: var(--negative) !important;
    }
}

.row {
    display: flex;
    padding-left: calc((var(--tree-item-level) - 1) * var(--gap-2));

    &.disabled {
        cursor: not-allowed;
        opacity: var(--opacity-disabled);
        & > div {
            background-color: var(--bg-disable);
        }
    }
}

.react-aria-Tree {
    display: flex;
    flex-direction: column;
    gap: 2px;
    overflow: auto;
    padding: var(--gap-1);
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    background: var(--white);
    forced-color-adjust: none;
    outline: none;
    width: 250px;
    max-height: 300px;

    &[data-focused] {
        outline: 2px solid var(--negative);
        outline-offset: 5px;
    }
    &[data-focus-visible] {
        border-color: var(--positive);
    }
    & .react-aria-TreeItem {
        background-color: var(--neutral);
        display: flex;
        align-items: center;
        gap: var(--gap-1);
        min-height: 28px;
        padding: var(--gap-1);
        border-radius: var(--border-radius);
        outline: none;
        cursor: default;
        position: relative;
        transform: translateZ(0);

        button {
            all: unset;
            display: flex;
            visibility: hidden;
            align-items: center;
            justify-content: center;
            height: 100%;
        }

        &[data-has-child-items] .tree-chevron {
            visibility: visible;
        }

        &[data-expanded] {
            & .tree-chevron svg {
                rotate: 90deg;
            }
        }

        &[data-hovered] {
            background-color: var(--positive);
        }

        &[data-focused] {
            background-color: var(--positive);
        }

        &[data-selected] {
            background-color: var(--positive);
        }
    }
}
