.ul {
    list-style: none !important;

    padding: 0;
    & li {
        list-style: none !important;
    }
}
.li:not(:last-of-type),
.row {
    margin-bottom: var(--gap-1);
}

.li:not([data-depth='0']):has(:focus-within) {
    & div:not(.row + ul) > div {
        background-color: var(--negative) !important;
    }
}

.row {
    display: flex;
    padding-left: calc((var(--tree-item-level) - 1) * var(--gap-2));

    &.disabled {
        cursor: not-allowed;
        opacity: var(--opacity-disabled);
        & > div {
            background-color: var(--bg-disable);
        }
    }
}
