.autocompLite {
    position: relative;

    & .container {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 4fr;
        gap: var(--gap-3);
        border: var(--border);
        padding: var(--gap-2);
        background-color: var(--white);

        & .chips {
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            gap: var(--gap-1);
            padding: 0 var(--gap-1);

            & button {
                min-width: fit-content;
            }
        }
        &.empty {
            grid-template-columns: 100%;
        }
        & input {
            width: 100%;
            padding: var(--gap-1);
            border: var(--border);
        }

        @media (orientation: portrait) {
            & {
                gap: var(--gap-1);
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr;
            }
        }
    }
}

.results {
    background-color: var(--white);
    box-shadow: var(--shadow);
    border: var(--border);
    border: border;

    overflow: auto;
    max-height: min(300px, 40vh);

    position: relative;
    z-index: var(--z-max);
    margin-top: var(--gap-1);

    .suggestion {
        padding: var(--gap-2);
        cursor: pointer;

        &:is(:hover, .highlighted) {
            background-color: var(--neutral);
        }

        &.disabled {
            pointer-events: none;
            cursor: not-allowed !important;
            opacity: var(--opacity-disabled) !important;
            background-color: var(--bg-disabled) !important;
        }
    }
}

.chip {
    background-color: var(--grey);

    &.isActive {
        filter: hue-rotate(120deg);
    }
    & .chipLabel {
    }
    & .chipRemove {
        display: inline-flex;
        margin-left: var(--gap-1);
    }
}
